---
const {
  link,
  nume = "Nume placeholder",
  logo = "",
  scale = "1",
  border = "",
  topoffset = "0",
} = Astro.props;
---

<div class="card">
  <a href={link}>
    <div class="nume">{nume}</div>
    <div class="logo">
      <img
        src={logo}
        class={border}
        style=`scale: ${scale}; top: ${topoffset} `
      />
    </div>
  </a>
</div>

<style>
  .card {
    font-family: "Poppins", "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
      "Helvetica", "Arial", sans-serif;

    width: 100%;
    height: 100%;
    a {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 0.4em;

      .nume {
        text-align: center;
        font-size: clamp(0.7em, calc(0.3em + 3vw), 1.7rem);
        font-weight: 700;
        height: 25%;
      }

      .logo {
        /*  display: flex;
        align-items: center;
        justify-content: center; */
        /*  position: absolute; */
        position: relative;
        height: 75%;
        flex: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: absolute;
          overflow: hidden;
        }
      }

      /*  .escalada {
        filter: drop-shadow(0 0 8px whitesmoke);
      } */

      .escalada {
        top: var(--topoffset);
        filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 4px #fff);
      }
    }
  }
</style>

<!-- deci la css cu variabile, trebuie sa pun ``. iar la normal pun {} -->
